<section class="noti_write">
    <h2>공지사항 작성하기</h2>
    <% if(typeof err !== 'undefined'){ %> <% errs.forEach(()=>{ %>
        <h3><%=err.param%> : <%=err.meg%></h3>
        <% }) %> <% } %>
    <form method="POST" action="/write">
        <table>
            <tr>
                <td><label>제목 :</label></td>
                <td><input type="text" id="title" name="title"/></td>
            </tr>
            <tr>
                <td><label>이름 :</label></td>
                <td><input type="text" id="myname" name="myname"/></td>
            </tr>
            <tr>
                <td><label>비밀번호 :</label></td>
                <td><input type="password" id="pw" name="pw"/></td>
            </tr>
            <tr>
                <td>내용작성 :</td>
                <td>
                    <textarea cols="100" rows="10" id="content" name="content"></textarea>
                </td>
            </tr>
            <tr>
                <td>첨부파일 :</td>
                <td>
                    <input type="button" id="noti_file" value="첨부" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="저장하기" />
                    <a href="notice"><input type="button" value="뒤로가기" /></a>
                </td>
            </tr>
        </table>
    </form>
</section>
