<section class="noti_write">
    <h2>공지사항 작성하기</h2>
    <form action="">
        <table>
            <tr>
                <td><label>제목 :</label></td>
                <td><input type="text" id="noti_title" /></td>
            </tr>
            <tr>
                <td><label>이름 :</label></td>
                <td><input type="text" id="noti_name" /></td>
            </tr>
            <tr>
                <td><label>비밀번호 :</label></td>
                <td><input type="password" id="noti_pass" /></td>
            </tr>
            <tr>
                <td><label>날짜 :</label></td>
                <td>
                    <input type="text" id="noti_date_1" placeholder="YYYY" />년
                    <select name="" id="noti_date_2">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                        <option value="">11</option>
                        <option value="">12</option></select
                    >월
                    <input type="text" id="noti_date_3" placeholder="DD" />일
                </td>
            </tr>
            <tr>
                <td>내용작성 :</td>
                <td>
                    <textarea cols="100" rows="10" id="noti_cont"></textarea>
                </td>
            </tr>
            <tr>
                <td>첨부파일 :</td>
                <td>
                    <input type="button" id="noti_file" value="첨부" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" value="저장" />
                </td>
            </tr>
        </table>
    </form>
</section>
